.controlbox:before {
	content: attr(name);
	background-color: #FFF;
	position: relative;
	top: -0.8em;
	left: 0.5em;
	padding: 0px 0.5em 0px 0.5em; }

.controlbox {
	border: 1px solid black;
	margin: 1em;
	margin-top: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-right: auto; }

div, table, tr, td { margin: 0px; padding: 0px; }
td { vertical-align: top; }

input[type=button], input[type=submit] { position: relative; float: right; top: -1.7em; }

.notice { font-style: italic; font-variant: small-caps; }

a { text-decoration: none; }

.error { border: 2px solid red; }

row { display: block; }
